body{
    margin: 0;
    padding: 0;
}
h1,p{
    margin: 0;
}

.calendar-bar{
    position: absolute;
    width: 300px;
    min-width: 230px;
    height: 99vh;
    margin-top: 0.3vh;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.DayPicker{
    width: 100%;
    height: auto;
}
.DayPicker :focus{
    outline: none;

}
.search{
    user-select: none;
    background-color: #32818f;
    color: white;
    width: 100%;
    border-bottom: 1px solid #fff;
    
}
.search p{
    text-align: center;
}

.search .text-field{
    width: 60%;
    margin: 0 20px 15px ;

}
.gamer-block{
    position: absolute;
    display: inline-flex;
    margin-left: 310px;
    height: 99vh;
    width: 78vw;
    min-width: 900px;
    margin-top: 0.3vh;
    margin-right: 0.3vw;
}


.game-set-table{
    width: 100%;
    height: 35%;
    background-color: lightrey;
    border-bottom: 1px solid black;
    display: inline-flex;
}
.cont{
    width: 33.3%; 
}

.game-table-content{
    height: auto;
    background-color: #32818f;
    overflow-x: scroll;     
    overflow-x: hidden;
}
.game-table h3{
    text-align: center;
    margin: 0;
    background-color: #32818f;
    border-bottom: 1px solid #ffffff;
    color: white;
    padding-bottom: 10px;
    padding-top:10px;
    user-select: none;
}

.task-block{
    width: 91%;
    background-color: #e3e0cf;
    margin-top: 2px;
    margin-left: 1px;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}
.task-block h4{
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey; 
}

.gamer-block-content{
    width: 50%;
    height: 100%;;
    margin: 0.1vw;
    margin-top: 0vw;
}
.gamer-block-content .content{
    width: 98%;
    display: inline-flex;
    margin-top: 1px;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
    margin-left: 4px;
}
.gamer-block-content .gamer-name{
    text-align: center;
    min-height: 4vh;
    height: 4vh;
    background-color:#32818f;
    user-select: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 200;
}
.content .some{
    width: 50%;
}
.content .con{
    width: 100%;
}
.enemy-game{
    background-color: #e3e0cf;
    width: 100%;
    border: 1px solid gray;
    margin: 1px;
    cursor: pointer;
}
.main-game{
    display: block;
    width: 50%;
    background-color: #e3e0cf;
    border: 1px solid gray;
    margin: 1px;
    margin-left: 0;
    cursor: pointer;

}
.gamer{
    width: 50%;
    
    height: 100px;
    max-height: 100px;

    display: inline-block;
}
.gamer-two{
    width: 50%;
    height: 100px;
    max-height: 100px;
    display: inline-block;
    text-align: right;
}
.gamer-content{
    display: block;
    width: 100%;
    text-align: center;
}
h3{
    margin: 0;
}
.DayPicker-Day :focus{
    outline: none;
}